<!DOCTYPE html>
<html>
<head>
  <title>Tim Hortons</title>
  <link rel="stylesheet" type="text/css" href="tim.css">
</head>
<body>
  <h1>Tim Hortons</h1>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

  <h2>Hot Beverages</h2>
  <div class="card-container" id="hot-beverages-container">
    {{#each hotBeverages}}
    <div class="card">
      <img src="{{image}}" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>Price: {{price}}</p>
      <button class="add-to-cart-button" data-name="{{name}}" data-price="{{price}}">Add to Cart</button>
    </div>
    {{/each}}
  </div>

  <h2>Cold Beverages</h2>
  <div class="card-container" id="cold-beverages-container">
    {{#each coldBeverages}}
    <div class="card">
      <img src="{{image}}" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>Price: {{price}}</p>
      <button class="add-to-cart-button" data-name="{{name}}" data-price="{{price}}">Add to Cart</button>
    </div>
    {{/each}}
  </div>

  <h2>Baked Goods</h2>
  <div class="card-container" id="baked-goods-container">
    {{#each bakedGoods}}
    <div class="card">
      <img src="{{image}}" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>Price: {{price}}</p>
      <button class="add-to-cart-button" data-name="{{name}}" data-price="{{price}}">Add to Cart</button>
    </div>
    {{/each}}
  </div>


<!-- Cart Section -->
  <div id="cart-container">
    <h2>Cart</h2>
    {{#each cartItems}}
    <div class="cart-item">
      <p>{{name}} - Price: {{price}}</p>
    </div>
    {{/each}}
  </div>

<div id="total-container">
  <!-- Total price will be displayed here -->
</div>
  <!-- Order Button -->
  
  <button id="pay-now-button">Pay Now</button>


  <!-- Include Handlebars library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script src="/scripts.js"></script>
  <script src="/client_script.js"></script>
</body>
</html>
